<table>
	<tr>
		<td>
			<div [ng2-highcharts]="shakes" class="graph"></div>
		</td>
		<td>
			<div [ng2-highcharts]="juices" class="graph"></div>
		</td>
	</tr>
	<tr>
		<td>
			<div [ng2-highcharts]="shakes" class="graph"></div>
		</td>
		<td>
			<div [ng2-highcharts]="hollywoodEarnings" class="graph"></div>
		</td>
	</tr>
	<tr>
		<td>
			<div [ng2-highcharts]="bollywoodMovieEarnings" class="graph"></div>
		</td>
		<td>
			<div [ng2-highcharts]="shakes" class="graph"></div>
		</td>
	</tr>
	<tr>
		<td>
			<div [ng2-highcharts]="juices" class="graph"></div>
		</td>
		<td>
			<div [ng2-highcharts]="hollywoodEarnings" class="graph"></div>
		</td>
	</tr>
	<tr>
		<td>
			<div [ng2-highcharts]="bollywoodMovieEarnings" class="graph"></div>
		</td>
		<td>
			<div [ng2-highcharts]="shakes" class="graph"></div>
		</td>
	</tr>
	<tr>
		<td>
			<div [ng2-highcharts]="hollywoodEarnings" class="graph"></div>
		</td>
		<td>
			<div [ng2-highcharts]="juices" class="graph"></div>
		</td>
	</tr>
</table>
